# Cabal sandbox and build artifacts
cabal.sandbox.config
.cabal-sandbox
dist
dist-newstyle
slicer

# Files generated when running tests
*.svg
*.actual
*.pdf
*.tix

# Files generated when running benchmarks
*.html
